<button
  id="back-to-top"
  class="group fixed bottom-8 right-8 translate-y-40 rounded-full border border-zinc-300 bg-zinc-100 p-3 transition-transform duration-500 ease-in-out md:right-12 lg:right-16 dark:border-zinc-700 dark:bg-zinc-800"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="group-hover:text-primary dark:group-hover:text-primary-dark size-5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m4.5 15.75 7.5-7.5 7.5 7.5"
    />
  </svg>
</button>
