<button
  id=""
  type="button"
  class="group rounded-full border border-zinc-300 bg-zinc-100/40 p-2 text-zinc-600 hover:bg-zinc-200/25 md:rounded dark:border-zinc-700 dark:bg-zinc-800/40 dark:text-white"
  aria-label="Search"
  title="Search"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="group-hover:text-primary dark:group-hover:text-primary-dark size-5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
    />
  </svg>
</button>
