<div
  id="search-modal"
  class="bg-noise bg-zero fixed z-50 hidden h-screen w-full max-w-full bg-white bg-[length:200px_200px] opacity-0 transition-opacity ease-in-out dark:bg-zinc-950"
>
  <div id="" class="mx-auto h-screen w-full max-w-prose px-6">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js"></script>

    <!-- SEARCH MODAL HEADER -->
    <div class="flex items-center justify-between py-6">
      <a class="" href="/">
        <img class="h-9 w-auto" src="/img/logo.png" alt="Logo" />
      </a>

      <button
        id="search-close"
        type="button"
        class="group rounded-full border border-zinc-300 bg-zinc-100 p-2 text-zinc-600 hover:bg-zinc-200 lg:rounded dark:border-zinc-700 dark:bg-zinc-800 dark:text-white"
        aria-label="Close Menu"
      >
        <svg
          id="menu-close-icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="group-hover:text-primary dark:group-hover:text-primary-dark size-5"
        >
          <title>Search Close</title>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <!-- SEARCH BAR -->
    <div id="search" class=""></div>

    <!-- SEARCH MODAL FOOTER -->
    <div></div>

    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({
          element: "#search",
          pageSize: 5,
          showImages: false,
          highlightParam: "highlight",
          excerptLength: 15,
        });
      });
    </script>
  </div>
</div>
