<footer class="bottom-0 w-screen max-w-4xl mx-auto px-6 py-6">
    <div class="flex flex-col gap-2 md:flex-row justify-between items-center border-t border-gray-600 pt-6">
        <!-- COPYRIGHT START -->
        <p class="text-gray-400 text-sm">&copy; {{ now.Year }} {{ .Site.Params.Author.fullname }}. All Rights Reserved.</p>
        <div class="text-2xl flex gap-3">
            <a target="_blank" rel="noopener noreferrer" title="Github" href="https://github.com/{{ .Site.Params.Social.github }}"><i class="fa-brands fa-github"></i></a>
            <!-- <a target="_blank" rel="noopener noreferrer" title="LinkedIn" href="https://linkedin.com/in/{{ .Site.Params.Social.linkedin }}"><i class="fa-brands fa-linkedin"></i></a> -->
            <a target="_blank" rel="noopener noreferrer" title="Email" href="mailto:{{ .Site.Params.Social.email }}"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <!-- COPYRIGHT END -->
    </div>
</footer>