/*
  Author : Odhy Pradhana
  License: MIT License (2024-present)

  Table of Contents
  0. CSS Reset (by Josh W. Comeau, modified)
  1. Custom Properties
  2. Global Styles
  3. Base Elements
  4. Layout Components
  5. Component-level Styles
  6. Responsive Design
  7. Utilities
*/

/* 0. CSS Reset ---------------------------------------- */

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* 1. Custom Properties -------------------------------- */
:root {
  /* Colors */
  --primary-color: red;
  --secondary-color: blue;
  --accent-color: pink;
  --background-color: rgba(248, 248, 248, 1);
  --transparent-color: rgba(248, 248, 248, 0.8);
  --text-color: rgba(51, 51, 51, 1);

  /* Fonts */
  --font-family-mono: "JetBrains Mono", monospace;
  --font-family-sans: "Inter", sans-serif;

  /* Other */
  --base-spacing: 1rem;
  --border-radius: 4px;
}

/* 2. Global Styles ------------------------------------ */
html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-mono);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* 3. Base Elements ------------------------------------ */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 var(--base-spacing) 0;
  font-weight: normal;
}

p {
  margin: 0 0 var(--base-spacing) 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* 4. Layout Components -------------------------------- */
header {
  
}

nav {
  
}

main {
  
}

footer {
  
}

/* 5. Component-level Styles --------------------------- */

/* 6. Responsive Design -------------------------------- */

/* 7. Utilities ---------------------------------------- */
