{{ define "main" }}
<div class="w-full max-w-full mx-auto">
    <!-- LANDING SECTION -->
    <div class="w-full max-w-2xl mx-auto">
        <!-- AUTHOR INFORMATION START -->
        <div class="flex flex-row items-end mb-4">
            <h1 class="text-3xl font-bold">Hi! I'm {{ .Site.Params.Author.shortname }}.</h1>
            <img class="w-[100px] rounded-full border-2 ml-4" src="{{ .Site.Params.Author.avatar }}">
        </div>
        <!-- AUTHOR INFORMATION END -->

        <!-- CONTENT START -->
        {{- partial "component/page-heading.html" . -}}
        <!-- CONTENT END -->
    </div>



    <!-- FEATURED PROJECT SECTION START -->
    <div class="flex flex-row justify-center items-center gap-4 mt-32">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7 text-green-400">
          <path fill-rule="evenodd" d="M2.25 6a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V6Zm3.97.97a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06l-2.25 2.25a.75.75 0 0 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Zm4.28 4.28a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" clip-rule="evenodd" />
        </svg>
        <h2 class="text-2xl text-center font-bold">Featured Projects</h2>
    </div>
    <!-- FEATURED PROJECT LIST START -->
    <div class="w-full max-w-full grid grid-cols-1 sm:grid-cols-2 gap-8 md:gap-4 my-8">
        {{- partial "component/project-featured.html" . -}}
    </div>
    <!-- FEATURED PROJECT LIST END -->
    <!-- FEATURED PROJECT CTA START -->
    <div class="flex justify-center mt-8">
        <a class="rounded flex flex-row gap-2 items-center justify-between px-6 py-2 bg-gray-900 hover:bg-gray-800" href="/project">
            More Projects
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-green-400">
                <path fill-rule="evenodd" d="M15.28 9.47a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 1 1-1.06-1.06L13.69 10 9.97 6.28a.75.75 0 0 1 1.06-1.06l4.25 4.25ZM6.03 5.22l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L8.69 10 4.97 6.28a.75.75 0 0 1 1.06-1.06Z" clip-rule="evenodd" />
            </svg>              
        </a>
    </div>
    <!-- FEATURED PROJECT CTA END -->
    <!-- FEATURED PROJECT SECTION END -->



    <!-- PINNED BLOG SECTION START -->
    <div class="flex flex-row justify-center items-center gap-4 mt-32">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7 text-green-400">
          <path fill-rule="evenodd" d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 0 0 3 3h15a3 3 0 0 1-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125ZM12 9.75a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5H12Zm-.75-2.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5H12a.75.75 0 0 1-.75-.75ZM6 12.75a.75.75 0 0 0 0 1.5h7.5a.75.75 0 0 0 0-1.5H6Zm-.75 3.75a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75ZM6 6.75a.75.75 0 0 0-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75v-3A.75.75 0 0 0 9 6.75H6Z" clip-rule="evenodd" />
          <path d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 0 1-3 0V6.75Z" />
        </svg>
        <h2 class="text-2xl text-center font-bold">Pinned Blogs</h2>
    </div>
    <!-- PINNED BLOG LIST START -->
    <div class="w-full max-w-full flex flex-col gap-4 my-8">
        {{- partial "component/blog-pinned.html" . -}}
    </div>
    <!-- PINNED BLOG LIST END -->
    <!-- PINNED BLOG CTA START -->
    <div class="flex justify-center mt-8">
        <a class="rounded flex flex-row gap-2 items-center justify-between px-6 py-2 bg-gray-900 hover:bg-gray-800" href="/blog">
            Read More
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-green-400">
                <path fill-rule="evenodd" d="M15.28 9.47a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 1 1-1.06-1.06L13.69 10 9.97 6.28a.75.75 0 0 1 1.06-1.06l4.25 4.25ZM6.03 5.22l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L8.69 10 4.97 6.28a.75.75 0 0 1 1.06-1.06Z" clip-rule="evenodd" />
            </svg>              
        </a>
    </div>
    <!-- PINNED BLOG CTA END -->
    <!-- PINNED BLOG SECTION END -->
</div>
{{ end }}