{{ define "main" }}
<div class="w-full max-w-full lg:px-8">
    <!-- AUTHOR INFORMATION START -->
    <div class="flex flex-row items-end mb-4">
        <h1 class="text-3xl font-bold">Hi! I'm {{ .Site.Params.Author.shortname }}.</h1>
        <img class="w-[100px] rounded-full border-2 ml-4" src="{{ .Site.Params.Author.avatar }}">
    </div>
    <!-- AUTHOR INFORMATION END -->
    <!-- CONTENT START -->
    <article class="w-full max-w-full prose prose-invert">
        {{ .Content }}
    </article>
    <!-- CONTENT END -->
</div>
{{ end }}