<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <!-- HEAD START -->
  {{ partial "head.html" . }}
  <!-- HEAD END -->

  <!-- DEV HELPER START -->
  <!-- {{- partial "dev/dev-tools.html" . -}} -->
  <!-- DEV HELPER END -->

  <body
    class="relative mx-auto flex min-h-dvh w-full max-w-full flex-col bg-white text-zinc-700 sm:min-h-screen dark:bg-zinc-900 dark:text-white"
  >
    <!-- HEADER START -->
    <header
      class="bg-noise bg-zero fixed top-0 mx-auto w-full max-w-full border-b border-zinc-200 bg-white bg-[length:200px_200px] dark:border-zinc-700 dark:bg-zinc-900"
      main
    >
      {{- partial "header.html" . -}}
    </header>
    <!-- HEADER END -->

    <!-- MAIN START -->
    <main class="mx-auto mb-16 mt-32 w-full max-w-screen-xl flex-1 grow p-6">
      {{- block "main" . -}}{{ end }}
    </main>
    <!-- MAIN END -->

    <!-- FOOTER START -->
    <footer
      class="mx-auto w-full max-w-full border-t border-zinc-200 dark:border-zinc-700"
    >
      {{- partial "footer.html" . -}}
    </footer>
    <!-- FOOTER END -->
  </body>
</html>
