{{ define "main" }}

  <div class="container">
    <div class="container-main">

      <div class="page-header">
        <div class="page-header-content">
          {{ .Content }}
          <a class="btn btn-light" href="/projects/"><i class="btn-icon fa-solid fa-code"></i>See Projects</a>
          <a class="btn btn-dark" href="/blogs/"><i class="btn-icon fa-solid fa-newspaper"></i>Read Blogs</a>
        </div>

        <div class="page-header-cover">
          <img src="placeholder.png">
        </div>
      </div>

    </div>
  </div>

{{ end }}
