{{ define "main" }}

  <section class="hero container">
    <img class="hero__image" src="placeholder.png" alt="Hero image!">

    <div class="hero__content">
      {{ .Content }}
      <a class="btn btn-1" href="/project/"><i class="btn-icon fa-solid fa-code"></i>See Projects</a>
      <a class="btn btn-2" href="/blog/"><i class="btn-icon fa-solid fa-newspaper"></i>Read Blogs</a>

      <form action="/search/" method="get" class="navbar-form navbar-right" role="search" _lpchecked="1">
          <div class="form-group">
              <input name="q" type="text" class="form-control" placeholder="Search">
          </div>
      </form>
    </div>
  </section>

{{ end }}