{{ define "main" }}
<section class="flex w-full max-w-full flex-col">
  <!-- INTRO START -->
  <article
    class="prose prose-zinc dark:prose-invert mx-auto w-full max-w-prose"
  >
    {{ .Content }}
  </article>
  <!-- INTRO END -->

  <!-- PROJECT LIST START -->
  <div class="mx-auto mt-8 flex w-full max-w-prose flex-col gap-y-8 md:mt-12">
    {{ range .Pages }}
    <div
      class="bg-noise bg-zero group flex flex-col rounded bg-zinc-100 bg-[length:200px_200px] sm:flex-row dark:bg-zinc-900"
    >
      <!-- PROJECT COVER -->
      <a
        class="h-40 w-full overflow-hidden rounded-t sm:w-2/6 sm:rounded-none sm:rounded-l"
        href="{{ .Permalink }}"
      >
        <img
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
          src="{{ .Params.Cover }}"
          alt="{{ .Title }} cover image"
        />
      </a>

      <!-- PROJECT TITLE, DESC, AND CATEGORIES -->
      <div
        class="flex w-full flex-col gap-y-2 px-6 py-6 sm:w-4/6 sm:justify-between sm:gap-y-0 sm:px-8"
      >
        <a
          class="group-hover:text-primary dark:group-hover:text-primary-dark line-clamp-1 w-fit shrink-0 text-lg font-bold"
          href="{{ .Permalink }}"
          >{{ .Title }}</a
        >
        <p class="line-clamp-2 opacity-60">{{ .Summary }}</p>
        <div class="line-clamp-1 shrink-0 text-zinc-500">
          {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <!-- PROJECT LIST END -->
</section>
{{ end }}
