{{ define "main" }}

<div class="container">
  <div class="container-main">

    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });

            const urlParams = new URLSearchParams(window.location.search);
            const query = urlParams.get('q');

            if (query) {
                document.querySelector("#search input").value = query;
                document.querySelector("#search input").dispatchEvent(new Event('input'));
            }
        });
    </script>

  </div>
</div>

{{ end }}
