{{ define "main" }}
<section class="site-container mb-16 flex flex-col gap-y-4 md:gap-y-6">
  <!-- POST TITLE START -->
  <section class="space-y-4">
    <h1 class="text-3xl leading-snug font-bold">{{ .Title }}</h1>

    <div class="flex items-center gap-x-3 font-medium opacity-50">
      <span>{{ .Date.Format "January 2, 2006" }}</span>
      <span>&middot;</span>
      <span>{{ printf "%d min read" .ReadingTime }}</span>
    </div>
  </section>
  <!-- POST TITLE END -->

  <!-- POST CONTENT START -->
  <article>{{ .Content }}</article>
  <!-- POST CONTENT END -->

  <!-- POST TAGS START -->
  <div class="inline space-x-2">
    <!-- BLOG TAGS -->
    {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}

    <!-- PROJECT CATEGORIES -->
    {{- partial "terms.html" (dict "taxonomy" "categories" "page" .) -}}
  </div>
  <!-- POST TAGS END -->

  <!-- COMMENTS START -->
  <div class="mt-8">{{- partial "giscus.html" . -}}</div>
  <!-- COMMENTS END -->
</section>
{{ end }}
