{{ define "main" }}
<section
  class="relative mx-auto mt-4 flex w-full max-w-full flex-col items-center"
>
  <!-- PAGE HEADER START -->
  <div class="flex w-full max-w-prose flex-col gap-y-4">
    <!-- Back to blog button -->
    <a
      class="flex w-fit items-center gap-x-2 text-sm no-underline hover:underline"
      href="/blog"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
        />
      </svg>
      Back to blog
    </a>

    <!-- Blog post informations -->
    <div class="mt-4 flex gap-x-4 text-xs opacity-80 md:mt-8">
      <!-- Posted date -->
      <span class="flex items-center gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
          />
        </svg>
        {{ .Date.Format "Jan 2, 2006" }}
      </span>

      <!-- Estimate Reading Time -->
      <span class="flex items-center gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        {{ printf "%d min read" .ReadingTime }}
      </span>

      <!-- Comment section -->
      <a class="hidden items-center gap-x-2 md:flex" href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
          />
        </svg>
        Comments
      </a>
    </div>

    <h1 class="text-3xl font-bold">{{ .Title }}</h1>

    <div class="flex gap-x-2">
      {{ if eq .Type "project" }} {{ partial "terms.html" (dict "taxonomy"
      "categories" "page" .) }} {{ else if eq .Type "blog" }} {{ partial
      "terms.html" (dict "taxonomy" "tags" "page" .) }} {{ end }}
    </div>

    <img
      class="rounded"
      src="{{ .Params.Cover }}"
      alt="Cover Image"
      loading="lazy"
      onerror="this.style.display='none';"
    />
  </div>
  <!-- PAGE HEADER END -->

  <!-- MAIN START -->
  <article class="mt-8 w-full max-w-prose">
    <!-- PAGE CONTENT START -->
    <div class="prose prose-zinc dark:prose-invert">{{ .Content }}</div>
    <!-- PAGE CONTENT END -->

    <!-- PAGE FOOTER START -->
    <div class="">
      <span>This is page footer</span>
    </div>
    <!-- PAGE FOOTER END -->
  </article>
  <!-- MAIN EMD -->

  <!-- SIDE START -->
  <aside
    class="sticky top-32 hidden h-fit max-w-[400px] space-y-4 p-8 lg:block dark:border-zinc-700"
  >
    <span class="text-xl font-semibold">Table Of Contents</span>
    <div class="text-sm xl:text-base">{{ .TableOfContents }}</div>
  </aside>
  <!-- SIDE END -->
</section>
{{ end }}
