{{- range .Page.Params.categories -}}
{{- $category := . -}}
{{- $categoryURL := printf "/categories/%s/" ($category | urlize) -}}
{{- $iconName := $category | urlize -}}
<a href="{{ $categoryURL }}" title="{{ $category }}" class="flex flex-row items-center gap-1 rounded-full px-3 py-1 bg-neutral-200 transition-opacity hover:opacity-75">
    <img id="{{ $iconName }}-icon" class="w-4 h-4 max-w-4 max-h-4" src="https://cdn.simpleicons.org/{{ . | urlize }}/262626" alt="{{ . }} icon" onerror="this.style.display='none'; document.getElementById('{{ $iconName }}-fallback').classList.remove('hidden');">
    <i id="{{ $iconName }}-fallback" class="hidden text-neutral-800 w-4 h-4 max-w-4 max-h-4 fa-solid fa-code"></i>
    <p class="text-xs font-bold text-neutral-800">{{ . | title }}</p>
</a>
{{- end -}}