* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
    font-family: Helvetica;
    font-size: 16pt;
    line-height: 1.5em;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}
