/*
  Author : Odhy Pradhana
  License: MIT License (2024-present)

  Table of Contents
  0. CSS Reset (by Josh W. Comeau)
  1. Custom Properties
  2. Global Styles
  3. Base Elements and Components
  4. Header and Footer
  5. Home page
  6. Contact page
  7. List page
  8. Showcase page
  9. Single Page  
*/

/* Responsive Breakpoints */
/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
/*@media (min-width: 768px) {}*/

/* lg */
/*@media (min-width: 1024px) {}*/

/* xl */
/*@media (min-width: 1280px) {}*/

/* 2xl */
/*@media (min-width: 1536px) {}*/

/* --------------------------------------------------------
  0. CSS Reset (by Josh W. Comeau)
-------------------------------------------------------- */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/* --------------------------------------------------------
  1. Custom Properties
-------------------------------------------------------- */
:root {
  /* Colors */
  --primary: ;
  --secondary: ;
  --accent: ;
  --white: rgba(248, 248, 248, 1);
  --black: rgba(51, 51, 51, 1);

  --bg-full: rgba(248, 248, 248, 1);
  --bg-transparent: rgba(248, 248, 248, 0.8);

  --text-main: rgba(51, 51, 51, 1);
  --text-dim: rgb(128, 128, 128);

  /* Font Family */
  --ff-mono: "JetBrains Mono", monospace;
  --ff-sans: "Inter", sans-serif;

  /* Sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* Other */
  --base-spacing: 1rem;
  --menu-spacing: 1.5rem;
  --border-radius: 4px;
}
/* --------------------------------------------------------
  2. Global Styles
-------------------------------------------------------- */
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-mono);
  color: var(--text-main);
  background-color: var(--bg-full);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
/* --------------------------------------------------------
  3. Base Elements and Components
-------------------------------------------------------- */
main {
  height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 var(--base-spacing) 0;
  font-weight: bold;
}

p {
  margin: 0 0 var(--base-spacing) 0;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

strong {
  color: var(--primary);
}

/* Buttons --------------------------------------------- */
.btn {
  display: inline-block;
  font-size: var(--size-xs);
  padding: 0.5em 2em;
  border: 2px solid var(--black);
  border-radius: var(--border-radius);
  transition: all 0.4s ease-out;
}

.btn-icon {
  margin-right: 1em;
}

.btn-naked {
  padding: 0.25em 0;
  cursor: pointer;
}

.btn-naked:hover {
  text-decoration: underline var(--black) 1.5px;
  text-underline-offset: 0.5em;
}

/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
@media (min-width: 768px) {
  .btn {
  font-size: var(--size-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .btn {
  font-size: var(--size-base);
  }
}

/* xl */
/*@media (min-width: 1280px) {}*/

/* 2xl */
/*@media (min-width: 1536px) {}*/

/* Buttons - Animations -------------------------------- */
.btn-1 {
  background: linear-gradient(to right, var(--black) 50%, var(--white) 50%);
  background-size: 200% 100%;
  background-position: right;
}

.btn-1:hover {
  background-position: left;
  color: var(--white);
}

.btn-2 {
  background: linear-gradient(to left, var(--black) 50%, var(--white) 50%);
  background-size: 200% 100%;
  background-position: right;
  color: var(--white);
}

.btn-2:hover {
  background-position: left;
  color: var(--black);
}

/* --------------------------------------------------------
  4. Section and containers
-------------------------------------------------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  margin-top: 4rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  section {
    margin-top: 8rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* --------------------------------------------------------
  5. Header
-------------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo__image {
  width: var(--size-sm);
  height: auto;
}

.logo__text {
  font-size: var(--size-sm);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.header__menu {
  display: none;
}

.header__bars {
  font-size: var(--size-lg);
}

/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
@media (min-width: 768px) {
  .logo__image {
    width: var(--size-base);
  }

  .logo__text {
    font-size: var(--size-sm);
  }

  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1.5em;
  }

  .header__link {
    font-size: var(--size-sm);
    font-weight: 600;
  }

  .header__link:hover {}

  .header__line {
    border-left: 2px solid var(--black);
    padding-top: 1.5em;
  }

  .header__icon {
    font-size: var(--size-sm);
  }

  .header__icon:hover {}

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .logo__image {
    width: var(--size-lg);
  }

  .logo__text {
    font-size: var(--size-lg);
  }

  .header__menu {
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-base);
  }

  .header__icon {
    font-size: var(--size-base);
  }
}

/* xl */
/*@media (min-width: 1280px) {}*/

/* 2xl */
@media (min-width: 1536px) {
  .header__logo {
    gap: 1rem;
  }

  .logo__image {
    width: var(--size-xl);
  }

  .logo__text {
    font-size: var(--size-lg);
  }

  .header__link {
    font-size: var(--size-base);
  }

  .header__icon {
    font-size: var(--size-base);
  }
}

/* --------------------------------------------------------
  5. Footer
-------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--size-xs);
}

/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
@media (min-width: 768px) {
  .footer {
    font-size: var(--size-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .footer {
    font-size: var(--size-base);
  }
}

/* xl */
/*@media (min-width: 1280px) {}*/

/* 2xl */
/*@media (min-width: 1536px) {}*/

/* --------------------------------------------------------
  5. Home page
-------------------------------------------------------- */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__cover {
  width: 50%;
  height: auto;
  margin-bottom: 2rem;
}

.hero__content {
  max-width: 44rem;
  margin-bottom: 4rem;
}

.hero__content-text {
  font-size: var(--size-xs);
}

.hero__content-cta {
  display: flex;
  gap: 1rem;
}

.hero__search {
  display: none;
}

/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
@media (min-width: 768px) {
  .hero__content {
    max-width: 40rem;
  }

  .hero__content-text {
    font-size: var(--size-sm);
  }

  .hero__cover {
    width: 55%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .hero__content {
    max-width: 30rem;
  }

  .hero__content-text {
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 6rem;
  }

  .hero__content {
    max-width: 40rem;
  }

  .hero__cover {
    max-width: 40%;
  }
}

/* 2xl */
/*@media (min-width: 1536px) {}*/

/* --------------------------------------------------------
  6. Contact page
-------------------------------------------------------- */

/* --------------------------------------------------------
  7. List page
-------------------------------------------------------- */

/* --------------------------------------------------------
  8. Showcase page
-------------------------------------------------------- */

/* --------------------------------------------------------
  9. Single Page
-------------------------------------------------------- */
