@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  --font-inter: "Inter", serif;
  --color-white-prose: oklch(0.872 0.01 258.338);
}

/* Default site */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 32px;
}

html {
  @apply scrollbar-thumb-neutral-800 scrollbar-thin scrollbar-track-neutral-900;
}

body {
  @apply selection:bg-teal-300 selection:text-teal-900;
}

/* Section container */
.site-container {
  @apply mx-auto w-full max-w-2xl;
}

/* Prose container */
article {
  @apply prose prose-invert prose-img:rounded-lg;
}

/* Code block and Inline-code block */
pre {
  @apply scrollbar-thumb-neutral-800 scrollbar-thin scrollbar-track-neutral-900 rounded-lg bg-neutral-900! p-4;
}

code:not(pre > *) {
  @apply rounded bg-neutral-800 p-1 select-all;
}

code::before,
code::after {
  @apply hidden;
}

/* Table Of Contents */
#TableOfContents a {
  @apply text-white-prose font-normal no-underline;
}

#TableOfContents ol,
#TableOfContents li {
  @apply m-0 list-none p-0;
}

#TableOfContents ol {
  @apply space-y-2!;
}

/* TOC Heading 3 anchor tags */
#TableOfContents li li > a {
  @apply ml-4 inline-block font-light;
}

#TableOfContents ol li ol li {
  @apply m-0!;
}
