<footer class="">
  <div class="site-container px-6 py-6 text-center">
    <span class="text-center text-sm opacity-50"
      >&copy; {{ now.Year }} Odhy Pradhana. All Rights Reserved.</span
    >
  </div>
</footer>

<script>
  function openMail(event) {
    event.preventDefault();

    const email = "pradhana.odhy@gmail.com";
    const subject = encodeURIComponent("Hello from your website");
    const body = encodeURIComponent(
      "Hi Odhy, I saw your website and wanted to reach out",
    );

    window.open(`mailto:${email}?subject=${subject}&body=${body}`, "_blank");
  }
</script>
