<header class="">
  <nav class="site-container flex items-center justify-start px-6">
    <ul class="flex items-center gap-x-5 py-6">
      <!-- HOME -->
      <li>
        <a
          class="opacity-50 transition-opacity ease-in-out hover:opacity-100"
          href="/"
          >home</a
        >
      </li>

      <!-- PROJECTS -->
      <li>
        <a
          class="opacity-50 transition-opacity ease-in-out hover:opacity-100"
          href="/project"
          >projects</a
        >
      </li>

      <!-- BLOG -->
      <li>
        <a
          class="opacity-50 transition-opacity ease-in-out hover:opacity-100"
          href="/blog"
          >blog</a
        >
      </li>

      <!-- ABOUT -->
      <li>
        <a
          class="opacity-50 transition-opacity ease-in-out hover:opacity-100"
          href="/about"
          >about</a
        >
      </li>
    </ul>
  </nav>
</header>
