{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <ul class='{{ (print $label) | lower }} nav nav-divider align-items-center d-inline-block d-flex gap-2'>
    {{- range . }}
    <li class="nav-item">
      <a class='badge text-bg-secondary text-decoration-none px-2' href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </li>
    {{- end }}
  </ul>
{{- end }}
