{{ define "main" }}
<section class="mx-auto w-full max-w-full">
  <div class="mx-auto my-16 flex w-full max-w-prose flex-col items-center">
    <div
      class="flex flex-col items-center gap-y-2 lg:flex-row lg:justify-center lg:gap-x-8"
    >
      <h2 class="text-4xl font-bold">404</h2>
      <div
        class="hidden h-8 border-l-2 border-zinc-300 lg:block dark:border-zinc-700"
      ></div>
      <h3 class="text-center opacity-75">
        No alarms and no surprises, just a missing page.
      </h3>
    </div>
  </div>
</section>
{{ end }}
