{{ define "main" }}
<!-- INTRO START -->
<section class="site-container mb-16 flex flex-col gap-y-4 md:gap-y-6">
  <h1 class="text-4xl leading-snug font-bold sm:text-5xl">
    Automating Workflows,<br />
    Visualizing Data,<br />
    Simplifying Systems. 🐍
  </h1>

  <p class="text-white-prose text-lg opacity-80">
    I'm Odhy, a Python developer focused on automation, data visualization, and
    web applications. I create streamlined systems for businesses to make
    better, faster decisions.
  </p>

  <div class="flex">
    <a
      class="group relative flex overflow-hidden rounded-md border border-neutral-800 px-6 py-4 text-sm transition-colors ease-in-out hover:border-emerald-300 hover:bg-emerald-300/10"
      href="mailto:pradhana.odhy@gmail.com"
      target="_blank"
    >
      <div
        class="flex items-center gap-x-2 transition-all ease-in-out group-hover:-translate-y-16 group-hover:opacity-0"
      >
        <i class="iconoir-suitcase text-lg"></i>
        <span>Fancy a work?</span>
      </div>

      <div
        class="absolute -bottom-8 flex items-center gap-x-2 opacity-0 transition-all ease-in-out group-hover:-translate-y-12 group-hover:opacity-100"
      >
        <i class="iconoir-mail-out text-lg"></i>
        <span class="">Send an email!</span>
      </div>
    </a>
  </div>
</section>
<!-- INTRO END -->

<!-- FEATURED PROJECTS START -->
<section class="site-container mb-16 flex hidden flex-col gap-y-4 md:gap-y-6">
  <h2 class="text-2xl font-bold">Featured Projects</h2>

  <!-- FEATURED PROJECT CONTAINER -->
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    {{ $featuredProjects := where (where (where .Site.Pages ".Section"
    "project") "Kind" "page") "Params.featured" true }} {{ range sort
    $featuredProjects "Date" "desc" }}

    <!-- PROJECT LIST START -->
    {{- partial "component/project-list.html" . -}}
    <!-- PROJECT LIST END -->
    {{ end }}
  </div>
</section>
<!-- FEATURED PROJECTS END -->

<!-- RECENT BLOG START -->
<section class="site-container mb-16 flex flex-col gap-y-4 md:gap-y-6">
  <h2 class="text-2xl font-bold">Recent Posts</h2>

  <!-- RECENT BLOG CONTAINER -->
  <div class="flex flex-col gap-y-4">
    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}

    <!-- BLOG LIST START -->
    {{- partial "component/blog-list.html" . -}}
    <!-- BLOG LIST END -->

    {{ end }}
  </div>
</section>
<!-- RECENT BLOG END -->

{{ end }}
