<header class="w-screen max-w-screen-xl mx-auto px-6 py-8">
    <nav class="flex items-center justify-between flex-wrap">
        <!-- HEADER LOGO START -->
        <a href="{{ .Site.Home.Permalink }}" class="">
            <img class="w-[30px] xl:w-[50px]" src="/logo.png">
        </a>
        <!-- HEADER LOGO END -->
        <!-- HEADER NAVBAR START -->
        <ul class="flex flex-row font-semibold gap-6 md:gap-8">
            <li>
                <a class="py-3 hover:text-gray-300" href="/project">Project</a>
            </li>
            <li>
                <a class="py-3 hover:text-gray-300" href="/blog">Blog</a>
            </li>
            <li>
                <a class="py-3 hover:text-gray-300" href="/contact">Contact</a>
            </li>
        </ul>
        <!-- HEADER NAVBAR END -->
    </nav>
</header>