<header class="mx-auto w-screen max-w-3xl px-6 py-8">
    <nav class="flex items-center justify-between flex-wrap">
        <!-- HEADER LOGO START -->
        <a href="{{ .Site.Home.Permalink }}" class="uppercase tracking-widest font-bold">
            {{ .Site.Title }}
        </a>
        <!-- HEADER LOGO END -->
        <!-- HEADER NAVBAR START -->
        <ul class="flex flex-row font-semibold gap-x-5">
            <li>
                <a href="/project" class="">Project</a>
            </li>
            <li>
                <a href="/blog" class="">Blog</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
        <!-- HEADER NAVBAR END -->
    </nav>
</header>