<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{ partial "head.html" . }}

<body class="flex flex-col min-h-dvh sm:min-h-screen bg-gray-950 text-gray-100">
    <!-- DEV HELPER START -->
    {{- partial "dev/dev-tools.html" . -}}
    <!-- DEV HELPER END -->
    <!-- HEADER START -->
    {{- partial "header/announcements.html" . -}}
    {{- partial "header/site-header.html" . -}}
    <!-- HEADER END -->
    <main class="flex-1 grow mx-auto w-screen max-w-3xl px-4 py-16 lg:pt-10">
        {{- block "main" . }}{{- end }}
    </main>
    <!-- FOOTER START -->
    {{- partial "footer/site-footer.html" . -}}
    {{- partial "footer/scripts.html" . -}}
    <!-- FOOTER END -->
</body>

</html>