{{ define "main" }}

  <div class="full-page">
    <div class="container container-wide">
      <div class="list-intro">
        {{ .Content }}
        <br>
        <a class="btn btn-light" href="projects/"><i class="fa-solid fa-code"></i> See Projects</a>
        <a class="btn btn-dark" href="posts/"><i class="fa-solid fa-newspaper"></i> Read Blogs</a>
      </div>
    </div>
  </div>

  <!--
  <div class="container container-wide">
    {{ range site.RegularPages }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <p>{{ .Summary }}</p>
    {{ end }}
  </div>
  -->

{{ end }}
