{{ define "main" }}

  <div class="container container-main">

    <div class="list-heading">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="grid">
      {{ range .Pages }}
        <div class="container-showcase">

          <div class="list-cover">
            {{ with .Resources.GetMatch "cover.*" }}
              <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">

            {{ else }}
              {{ with .Resources.GetMatch "*.png" }}
                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
              {{ end }}

            {{ end }}
          </div>

          <div class="list-content">
            <div>
              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
              {{ $dateHuman := .Date | time.Format ":date_medium" }}
              <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </div>

            <h2>
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>

            <div>
              {{ .Params.Summary }}
            </div>

            <div>
              {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
            </div>

          </div>
        </div>
      {{ end }}
    </div>
  </div>

{{ end }}
