{{ define "main" }}

  <div class="container container-wide">
    <div class="list-intro">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>

  <div class="container container-full sticky-header">
      <hr class="separator">

      <div class="list-header">
        <div class="list-header-categories">
          <a href="#">All</a>
          <a href="#">Categories</a>
          <a href="#">Tags</a>
        </div>
        <div class="search-bar btn btn-light">
          <span>Search blog</span>
        </div>
      </div>
  </div>

  <div class="container container-wide">
    <div class="grid-container">
      {{ range .Pages }}
        <div class="list-content">
          <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>

          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format ":date_long" }}
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          
          {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
          {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

        </div>
      {{ end }}
    </div>
  </div>

{{ end }}
