{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}

    {{ with .Resources.GetMatch "cover.*" }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
    {{ else }}
      {{ with .Resources.GetMatch "*.png" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
      {{ end }}
    {{ end }}
  
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Params.Summary }}
    {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ end }}
{{ end }}
