{{ define "main" }}
<div class="w-full max-w-full lg:px-8">
    <!-- CONTENT START -->
    <div class="w-full max-w-prose prose prose-invert text-justify">
        {{ .Content }}
    </div>
    <!-- CONTENT END -->
    <!-- SHOWCASE START -->
    <div class="w-full max-w-full flex flex-col gap-8 md:gap-4 my-4">
        <!-- PROJECT CARDS START -->
        {{ range .Pages }}
        <div class="flex flex-col gap-4 bg-gray-900 rounded p-4">
            <!-- CARD IMAGE -->
            <a href="{{ .Permalink }}">
                <img class="h-48 md:h-64 w-full rounded object-cover transition-opacity hover:opacity-75" src="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </a>
            <!-- CARD CONTENT -->
            <div class="flex flex-col gap-2">
                <a class="text-lg font-bold hover:text-green-400" href="{{ .Permalink }}">{{ .Title }}</a>
                <p class="text-neutral-400">{{ .Summary }}</p>
                <div class="flex flex-row gap-4 items-center py-2">
                    {{ partial "component/project-icons.html" . }}
                </div>
            </div>
        </div>
        {{ end }}
        <!-- PROJECT CARDS END -->
    </div>
    <!-- SHOWCASE END -->
</div>
{{ end }}