{{ define "main" }}
<div class="w-full max-w-full flex flex-col gap-4 items-center lg:px-8">
    <!-- POST HEADING START -->
    <div class="w-full max-w-2xl mx-auto flex flex-col gap-4">
        <!-- POST TITLE -->
        <h1 class="text-3xl font-semibold">{{ .Title }}</h1>
        <!-- POST TAGS -->
        <div class="w-full max-w-full flex flex-row flex-wrap gap-2 items-center py-2">
            {{ if eq .Type "project" }}
                {{ partial "component/project-badge.html" . }}
            {{ else if eq .Type "blog" }}
                {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            {{ end }}
        </div>
        <!-- POST DATE -->
        <div class="flex flex-row gap-1 text-sm">
            <p class="text-gray-400">Posted</p>
            {{ .Date.Format "Jan 2, 2006" }}
            <p class="px-2">•</p>
            <p class="text-gray-400">Updated</p>
            {{ .Lastmod.Format "Jan 2, 2006" }}
        </div>
        <!-- POST COVER IMAGE -->
        <img class="w-full max-w-full h-auto mx-auto rounded" src="{{ .Params.Cover }}">
        <!-- POST AUTHOR AND ESTIMATE READING TIME -->
        <div class="flex flex-row justify-between text-sm">
            <!-- POST AUTHOR -->
            <div class="flex flex-row gap-1">
                <p class="text-gray-400">By</p>
                <p>{{ .Site.Params.Author.fullname }}</p>
            </div>
            <!-- POST ESTIMATE READING TIME -->
            <div class="flex flex-row gap-1">
                <p>{{ printf "%d min" .ReadingTime }}</p>
                <p class="text-gray-400">read</p>
            </div>
        </div>
    </div>
    <!-- POST HEADING END -->
    <!-- POST CONTENT START -->
    <article class="w-full max-w-2xl prose prose-invert mx-auto mt-8">
        {{ .Content }}
    </article>
    <!-- POST CONTENT END -->
    <!-- CHANGELOG START -->
    <div class="w-full max-w-2xl mx-auto flex flex-col mt-8">
        <p class="text-green-400">Page changelog:</p>
        {{ with .GitInfo }}
        <div class="flex flex-row gap-2 items-center text-neutral-400">
            <p>{{ .CommitDate.Format "Jan 02, 2006" }} - {{ .Subject }}</p>
        </div>
        {{ end }}
    </div>
    <!-- CHANGELOG END -->
    <!-- POST FOOTER START -->
    <div class="w-full max-w-2xl mx-auto flex flex-col md:flex-row-reverse items-center md:justify-between gap-4 py-4 pb-2 border-b border-gray-600">
        <!-- POST SHARE BUTTON -->
        {{ partial "component/page-share.html" }}
        <!-- POST COPYRIGHT -->
        <p class="text-sm text-gray-400">
            This post is licensed under
            <a class="text-white font-semibold" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
            by the author.
        </p>
    </div>
    <!-- POST FOOTER END -->
</div>
{{ end }}