{{ define "main" }}
<div class="w-full max-w-full mx-auto lg:px-8">
    <div class="w-full max-w-2xl mx-auto">
        <div class="flex flex-row justify-center items-center gap-2">
            <!-- If page Type is Categories, use project-icon image. Else, use hashtag instead -->
            {{ if eq .Type "categories" }}
                <div class="size-8">
                    {{ partial "component/project-icon.html" . }}
                </div>
            {{ else }}
                <p class="text-2xl text-green-400">#</p>
            {{ end }}
            <h2 class="font-bold text-2xl">{{ .Title }}</h2>
        </div>
    </div>

    <!-- If page Type is Categories, use project-list. Else, use blog-list -->
    {{ if eq .Type "categories" }}
        <div class="w-full max-w-full grid grid-cols-1 sm:grid-cols-2 gap-8 md:gap-4 my-4 mt-16">
            <!-- TAXONOMY PROJECT LIST START -->
            {{- partial "component/project-list.html" . -}}
            <!-- TAXONOMY PROJECT LIST END -->
        </div>
    {{ else }}
        <div class="w-full max-w-full my-4 mt-16">
            <!-- TAXONOMY BLOG LIST START -->
            {{- partial "component/blog-list.html" . -}}
            <!-- TAXONOMY BLOG LIST END -->
        </div>
    {{ end }}
</div>
{{ end }}