<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
    <!-- FULL WIDTH AND HEIGHT PAGE, NO HEADER AND FOOTER FOR LANDING -->
    <main class="h-dvh sm:h-screen overflow-hidden font-sitka">
        <div class="h-full w-full flex justify-center items-center bg-cover bg-center" style="background-image: url('/wedding/background.jpg');">
            <div class="relative flex flex-col justify-center items-center gap-16">
                <img class="size-10 md:size-12 xl:size-14" src="/wedding/logo.svg" alt="" loading="lazy" data-aos="zoom" data-aos-delay="2200">
                <div class="flex flex-col justify-center items-center gap-6 lg:gap-12">
                    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center text-custom-blue" data-aos="zoom" data-aos-delay="2400">{{ .Title }},</h2>
                    <h2 class="text-xl md:text-2xl lg:text-3xl text-center text-custom-blue leading-tight" data-aos="zoom" data-aos-delay="2600">You are invited<br>to The Wedding of</h2>
                    <h1 class="text-4xl md:text-5xl lg:text-6xl uppercase text-custom-gold font-bold drop-shadow-md" data-aos="zoom" data-aos-delay="2800">Anggi & Odhy</h1>
                </div>
                <a class="md:text-lg bg-custom-blue text-white px-6 py-2 rounded-full shadow-xl transition-transform duration-500 ease-out hover:scale-95" href="{{ .RelPermalink }}/details" data-aos="zoom" data-aos-delay="3000">Open Invitation</a>

                <!-- LANDING PATTERN IMAGES START -->
                <!-- TOP  -->
                <div class="md:hidden fixed w-full h-32 overflow-hidden -top-1" data-aos="fade-down" data-aos-delay="500">
                    <div class="flex animate-marquee-x w-[200%]">
                        <div class="w-[100%] h-32 bg-[url('/wedding/landing-top.png')] bg-contain bg-top bg-no-repeat"></div>
                        <div class="w-[100%] h-32 bg-[url('/wedding/landing-top.png')] bg-contain bg-top bg-no-repeat"></div>
                    </div>
                </div>

                <!-- BOTTOM  -->
                <div class="md:hidden fixed w-full h-32 overflow-hidden -bottom-1" data-aos="fade-up" data-aos-delay="500">
                    <div class="flex animate-marquee-x w-[200%]">
                        <div class="w-[100%] h-32 bg-[url('/wedding/landing-bottom.png')] bg-contain bg-bottom bg-no-repeat"></div>
                        <div class="w-[100%] h-32 bg-[url('/wedding/landing-bottom.png')] bg-contain bg-bottom bg-no-repeat"></div>
                    </div>
                </div>

                <!-- LEFT -->
                <div class="hidden md:block fixed w-32 h-full overflow-hidden -left-1" data-aos="fade-right" data-aos-delay="500">
                    <div class="flex flex-col animate-marquee-y h-[200%]">
                        <div class="w-auto h-[100%] bg-[url('/wedding/landing-left.png')] bg-contain bg-left bg-no-repeat"></div>
                        <div class="w-auto h-[100%] bg-[url('/wedding/landing-left.png')] bg-contain bg-left bg-no-repeat"></div>
                    </div>
                </div>

                <!-- RIGHT -->
                <div class="hidden md:block fixed w-32 h-full overflow-hidden -right-1" data-aos="fade-left" data-aos-delay="500">
                    <div class="flex flex-col animate-marquee-y h-[200%]">
                        <div class="w-auto h-[100%] bg-[url('/wedding/landing-right.png')] bg-contain bg-right bg-no-repeat"></div>
                        <div class="w-auto h-[100%] bg-[url('/wedding/landing-right.png')] bg-contain bg-right bg-no-repeat"></div>
                    </div>
                </div>
                <!-- LANDING PATTERN IMAGES END -->
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();

      AOS.init({
        duration: 1000, // values from 0 to 3000, with step 50ms
        easing: 'ease-in', // default easing for AOS animations
      });
    </script>
</body>

</html>