<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<script>
    function copyToClipboard(text) {
        // Create a temporary textarea element to hold the text
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();

        try {
            // Copy the text to clipboard
            document.execCommand('copy');

            // Update copy status text
            const copyStatus = document.getElementById('copy-status');
            copyStatus.textContent = 'Bank account copied!';
            
            // Reset the status text after 1.5 seconds
            setTimeout(() => {
                copyStatus.textContent = 'Press to copy!';
            }, 1500);
        } catch (err) {
            console.error('Failed to copy text: ', err);
        }

        // Remove the temporary textarea element
        document.body.removeChild(textarea);
    }
</script>

<body class="bg-cover bg-center" style="background-image: url('/wedding/body.jpg');">
    <!-- DEV HELPER START -->
    {{- partial "dev/dev-tools-styling.html" . -}}
    <!-- DEV HELPER END -->

    <!-- DETAILS PAGE -->
    <main class="font-sitka overflow-x-hidden w-screen sm:max-w-screen-lg mx-auto">
        <div class="min-h-full w-full grid grid-cols-12 justify-start items-start gap-0 bg-contain bg-center bg-repeat" style="background-image: url('/wedding/background.jpg');">
            <!-- IMAGE MODAL START -->
            <div id="imageModal" class="fixed inset-0 bg-black bg-opacity-85 justify-center items-center z-50 px-2 hidden">
                <span id="closeModal" class="absolute top-4 right-4 text-white text-3xl cursor-pointer">&times;</span>
                <img id="modalImg" class="max-w-full max-h-full" />
            </div>
            <!-- IMAGE MODAL END -->

            <!-- MAIN CONTENT START -->
            <!-- I use gap-8 because the logo image has margin-y -->
            <div class="relative col-span-11 flex flex-col justify-center items-center gap-8 pt-8 px-4">
                <!-- INSTRUCTION PAGE? BLANK PAGE WITH A&O TEXT? -->
                <div class="hidden"></div>
                
                <!-- AUDIO PLAYER START -->
                <section class="flex flex-row justify-center items-center gap-0">
                    <button id="playPauseBtn" class="flex flex-row items-center gap-2 px-3 py-2">
                        <svg id="playIcon" class="size-3 text-custom-blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
                        </svg>
                        <svg id="pauseIcon" class="size-3 text-custom-blue hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
                        </svg>
                        <p class="text-xs text-custom-blue leading-none">Canon in D - Pachelbel (by Kassia)</p>
                    </button>
                    <audio id="audioPlayer" src="/wedding/music.mp3" loop></audio>
                </section>
                <!-- AUDIO PLAYER END -->

                <!-- START HERE! -->
                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">

                <!-- OPENING SECTION START -->
                <section class="flex flex-col justify-center items-center gap-12 my-8">
                    <div class="w-full grid grid-cols-2 items-center gap-4">
                        <div class="w-full h-auto overflow-hidden">
                            <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic1.png" alt="" loading="lazy">
                        </div>
                        <div class="w-full h-auto overflow-hidden">
                            <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic2.png" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="w-full max-w-lg text-center text-sm">
                        <p class="text-custom-blue italic">And it is among His sign that He has created for you wives from among yourselves, so that you may find tranquility in them and He has created love and kindness between you. Surely in this there are signs for a people who reflect.</p>
                        <p class="text-custom-gold">QS Ar-Rum : 21</p>
                    </div>
                    <div class="w-full h-auto overflow-hidden">
                        <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic3.jpg" alt="" loading="lazy">
                    </div>
                </section>
                <!-- OPENING SECTION END -->

                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">

                <!-- BRIDE AND GROOM SECTION START -->
                <section class="flex flex-col justify-center items-center gap-12 my-8">
                    <!-- Bride and Groom Name -->
                    <div class="flex flex-col items-center text-center gap-4 text-custom-blue">
                        <p>Together with the family,</p>
                        <div>
                            <h2 class="text-xl font-bold">Anggi Permata Sukma Lembayung</h2>
                            <p class="text-sm italic">The daughter of Mr. Agung Heriyanto<br>& Mrs. Enny Prihjantini</p>
                        </div>
                        <p class="text-custom-gold italic">and</p>
                        <div>
                            <h2 class="text-xl font-bold">Odhy Pradhana</h2>
                            <p class="text-sm italic">The son of the late Mr. Teguh Hariadi (Alm.)<br>& Mrs. Tutik Andayani<br>and the stepson of Mr. Muhammad Mutohar<br></p>
                        </div>
                    </div>

                    <p class="w-full max-w-lg text-center text-custom-blue leading-tight">We'd like to request the pleasure of your company on our wedding day that will be held on:</p>

                    <!-- Time, date, and venue -->
                    <div class="flex flex-col items-center text-center gap-12 text-custom-blue">
                        <div class="flex flex-col items-center gap-1 text-custom-blue">
                            <h3 class="text-3xl font-bold text-custom-gold">Wedding Ceremony</h3>
                            <p>Saturday, October 5<sup>th</sup> 2024</p>
                            <p class="font-bold text-lg">10.00 - 12.00</p>
                            <div class="leading-none">
                                <p class="font-bold text-lg">Bride's Residence</p>
                                <p>Kota Madiun</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center gap-1 text-custom-blue">
                            <h3 class="text-3xl font-bold text-custom-gold">Wedding Reception</h3>
                            <p>Sunday, October 6<sup>th</sup> 2024</p>
                            <p class="font-bold text-lg">10.00 - 12.00</p>
                            <div class="leading-none">
                                <p class="font-bold text-lg">Gedung Serbaguna Tri Dharma</p>
                                <p>Jl. Cokroaminoto No. 63, Kota Madiun</p>
                            </div>
                        </div>
                    </div>

                    <!-- Google Maps Embed -->
                    <div class="flex justify-center items-center border-2 border-custom-blue rounded">
                        <iframe 
                            class="w-full h-full"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3954.4578209924334!2d111.51729887480293!3d-7.6338133754977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e79be5e36c45629%3A0xac4a2a0bebb63693!2sGedung%20Serba%20Guna%20Tri%20Dharma!5e0!3m2!1sen!2sid!4v1725515386014!5m2!1sen!2sid" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>                
                </section>
                <!-- BRIDE AND GROOM SECTION END -->

                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">

                <!-- QUOTES SECTION START -->
                <section class="flex flex-col justify-center items-center gap-12 my-8">
                    <div class="grid grid-cols-6 gap-2 items-center">
                        <div class="col-span-4 overflow-hidden shadow-2xl">
                            <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic4.jpg" alt="" loading="lazy">
                        </div>
                        <p class="col-span-2 text-xs italic text-custom-blue">"Through endless skies, my heart does roam...</p>
                    </div>
                    <div class="grid grid-cols-6 gap-2 items-center">
                        <p class="col-span-2 text-xs italic text-right text-custom-blue">...in search of light to guide me home.</p>
                        <div class="col-span-4 overflow-hidden">
                            <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic5.jpg" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="grid grid-cols-6 gap-2 items-center">
                        <div class="col-span-4 overflow-hidden">
                            <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic6.jpg" alt="" loading="lazy">
                        </div>
                        <p class="col-span-2 text-xs italic text-custom-blue">Yet none compares, no brighter gleam...</p>
                    </div>
                    <div class="grid grid-cols-6 gap-2 items-center">
                        <p class="col-span-2 text-xs italic text-right text-custom-blue">...than the one that fills my waking dream."</p>
                        <div class="col-span-4 overflow-hidden">
                            <img class="modal-trigger w-full h-full object-cover rounded-sm cursor-pointer" src="/wedding/pic7.jpg" alt="" loading="lazy">
                        </div>
                    </div>
                    <p class="text-sm italic text-center text-custom-blue">So many stars in the sky I see,<br>but no star is as beautiful as thee.</p>
                </section>
                <!-- QUOTES SECTION END -->

                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">

                <!-- GIFT SECTION START -->
                <section class="flex flex-col justify-center items-center gap-8 my-8">
                    <div class="w-full max-w-lg flex flex-col items-center gap-4 text-custom-blue">
                        <h3 class="text-2xl font-bold">Wedding Gifts</h3>
                        <p class="text-sm text-center">
                            Your presence and well wishes are the best wedding gifts we could ask for! 
                            However, if you'd like to express your excitement with a gift, feel free to contact us for our address. 
                            If you'd prefer to give a cash gift, here are our bank account details:
                        </p>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 justify-center items-center gap-4 text-custom-blue">
                        <!-- Anggi -->
                        <button onclick="copyToClipboard('1771782324')" class="flex flex-col items-center border-2 border-custom-blue px-8 py-4 rounded-lg">
                            <div class="flex flex-col items-center gap-2">
                                <div class="flex flex-row items-baseline gap-1">
                                    <p class="font-semibold">BCA</p>
                                    <p id="bca-account">1771782324</p>
                                </div>
                                <p>a.n. Anggi Permata</p>
                            </div>
                        </button>

                        <!-- Odhy -->
                        <button onclick="copyToClipboard('500261230473')" class="flex flex-col items-center border-2 border-custom-blue px-8 py-4 rounded-lg">
                            <div class="flex flex-col items-center gap-2">
                                <div class="flex flex-row items-baseline gap-1">
                                    <p class="font-semibold">Jago</p>
                                    <p id="jago-account">500261230473</p>
                                </div>
                                <p>a.n. Odhy Pradhana</p>
                            </div>
                        </button>

                        <p id="copy-status" class="sm:col-span-2 text-center text-xs italic text-custom-blue text-opacity-85">Press to copy!</p>
                    </div>
                </section>
                <!-- GIFT SECTION END -->

                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">


                <!-- WISHES FORM SECTION START -->
                <section class="flex flex-col justify-center items-center gap-8 my-8">
                    <div class="text-sm text-custom-blue">
                        <h3 class="text-2xl font-bold">Best Wishes</h3>
                    </div>
                    <form class="w-full flex flex-col gap-4 p-6 text-sm text-custom-blue border-2 border-custom-blue rounded" name="wishesForm" onsubmit="return validateForm()" method="post">
                        <!-- POST Wishes -->
                        <input class="text-sm border-custom-blue rounded" placeholder="Name" type="text"></input>
                        <textarea class="text-sm border-custom-blue rounded" placeholder="Wishes" type="text" rows="4"></textarea>
                        <div class="flex flex-col gap-2 mx-auto">
                            <p class="font-bold text-center">Attendance:</p>
                            <div class="flex flex-row gap-2 justify-start">
                                <input type="radio" id="attendance-yes" name="attendance">
                                <label for="attendance-yes">I will attend</label>
                            </div>
                            <div class="flex flex-row gap-2 justify-start">
                                <input type="radio" id="attendance-no" name="attendance">
                                <label for="attendance-no">I can't attend</label>
                            </div>
                        </div>
                        
                        <button class="flex flex-row gap-2 justify-center items-center bg-custom-blue text-white px-4 py-2 rounded" type="submit">
                            Send
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3">
                                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                            </svg>                              
                        </button>
                        <hr class="border-t-2 border-custom-blue">
                        <p class="text-xs"></p>

                        <!-- GET Wishes -->
                        <div id="data-container" class="w-full flex flex-col gap-3 h-80 overflow-scroll"></div>
                    </form>
                </section>
                <!-- WISHES FORM SECTION END -->

                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">

                <!-- GALLERY SECTION START -->
                <section class="flex flex-col justify-center items-center gap-4 text-custom-blue my-8">
                    <div class="text-center">
                        <h3 class="text-2xl font-bold">Our Best Moments</h3>
                    </div>
                </section>
                <!-- GALLERY SECTION END -->

                <img class="size-10" src="/wedding/logo.png" alt="" loading="lazy">
                
                <!-- CLOSING SECTION START -->
                <section class="flex flex-col justify-center items-center gap-4 text-custom-blue my-8">
                    <h3 class="text-2xl text-custom-gold font-semibold">Dear {{ .Title }},</h3>
                    <div class="flex flex-col text-center">
                        <p class="text-sm leading-tight">Thank you for sharing in our joy and for being a part of this unforgettable moment in our lives.</p>
                        <p class="text-xs italic">-Enji & Odi</p>
                    </div>
                </section>
                <!-- CLOSING SECTION END -->

                <!-- FOOTER START -->
                <section class="flex flex-col justify-center items-center gap-4 pb-16 my-8">
                    <div class="text-sm text-center text-custom-blue text-opacity-80 space-y-1">
                        <p>
                            Music by
                            <a class="font-semibold" href="https://www.youtube.com/watch?v=6jSLH9CDPPQ" target="_blank" rel="noopener noreferrer">
                                Kassia
                                <svg class="size-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </p>

                        <p>
                            Design by
                            <a class="font-semibold" href="https://www.instagram.com/psychoctator/" target="_blank" rel="noopener noreferrer">
                                Anggi Permata
                                <svg class="size-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </p>

                        <p>
                            Code by
                            <a class="font-semibold" href="https://odhyp.vercel.app/" target="_blank" rel="noopener noreferrer">
                                Odhy Pradhana
                                <svg class="size-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </p>

                        <p>
                            API by
                            <a class="font-semibold" href="https://alfalakhie-portfolio.vercel.app/" target="_blank" rel="noopener noreferrer">
                                Firdig Alfalakhi
                                <svg class="size-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </p>
                    </div>
                    <p class="mt-8 text-sm text-custom-blue opacity-80">&copy; {{ now.Year }} {{ .Site.Params.Author.fullname }}. All Rights Reserved.</p>
                </section>
                <!-- FOOTER END -->
            </div>
            <!-- MAIN CONTENT END -->

            <!-- SIDE EMBELISHMENT START -->
            <div class="min-h-full bg-cover bg-left-top bg-repeat-y" style="background-image: url('/wedding/pattern-side-2.svg');"></div>
            <!-- SIDE EMBELISHMENT END -->
        </div>
    </main>
</body>

</html>