{{ $iconName := .Get "name" }}
{{ $title := .Get "title" }}
{{ $href := .Get "href" }}
{{ $iconPath := printf "/icons/%s.svg" $iconName }}

{{ if and $iconName $title $href }}
  <span class="inline-flex items-center space-x-2 align-middle px-1">
    <a href="{{ $href }}" class="inline-flex items-center space-x-2 no-underline hover:underline">
      {{ if fileExists (printf "static%s" $iconPath) }}
        {{ $iconContent := readFile (printf "static%s" $iconPath) }}
        <span class="size-5 text-primary dark:text-primary-dark" style="fill: currentColor; display: inline-block;">{{ $iconContent | safeHTML }}</span>
      {{ end }}
      <span class="font-medium">{{ $title }}</span>
    </a>
  </span>
{{ else }}
  <span class="text-primary dark:text-primary-dark">Error: Missing parameters or icon not found.</span>
{{ end }}
