<div class="flex flex-col gap-4 mt-8">
    {{ $currentYear := "" }}
    {{ range (sort .Pages "Lastmod" "desc") }}
    {{ $year := .Lastmod.Format "2006" }}
    {{ if ne $year $currentYear }}
    <div class="hidden md:flex items-center py-4 sticky top-0 bg-gray-950/75 backdrop-blur">
        <hr class="flex-grow border-none">
        <h2 class="font-semibold text-lg pl-4">{{ $year }}</h2>
    </div>
    {{ $currentYear = $year }}
    {{ end }}
    <!-- Used in blog, pinned blog, and tags -->
    <div class="w-full max-w-full flex flex-row items-baseline gap-4">
        <!-- BLOG ARROW ICON -->
        <svg class="shrink-0 h-[15px] text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>

        <!-- BLOG TITLE AND TAGS -->
        <div class="flex flex-col">
            <a class="hover:text-green-400" href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="flex flex-row flex-wrap gap-2">
                <p class="text-sm text-gray-400 md:hidden">{{ .Lastmod.Format "Jan 02, 2006" }}</p>
                {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            </div>
        </div>

        <!-- BLOG LEADING LINE -->
        <hr class="hidden md:block min-w-6 flex-grow border-t border-dashed border-gray-700">

        <!-- BLOG DATE -->
        <p class="hidden md:block md:shrink-0 text-gray-400">{{ .Lastmod.Format "Jan 2" }}</p>
    </div>
    {{ end }}
</div>