{{ range site.RegularPages }}
    {{ if .Params.featured }}
    <div class="flex flex-col gap-4 bg-gray-900 rounded p-4">
        <!-- CARD IMAGE -->
        <a href="{{ .Permalink }}">
            <img class="h-48 md:h-52 w-full rounded object-cover transition-opacity hover:opacity-75" loading="lazy" src="{{ .Params.Cover }}" alt="{{ .Title }} Cover" onerror="this.onerror=null;this.src='https://placehold.co/1200x600?text=No+Image+Available';">
        </a>
        <!-- CARD CONTENT -->
        <div class="flex flex-col gap-2">
            <a class="line-clamp-1 text-xl font-bold hover:text-green-400" href="{{ .Permalink }}">{{ .Title }}</a>
            <p class="line-clamp-2 text-neutral-400">{{ .Summary }}</p>
            <div class="w-full max-w-full flex flex-row flex-wrap gap-2 items-center py-2">
                {{ partial "component/project-badge.html" . }}
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}